@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    font-size: 16px;
    font-family: Arial, Verdana, Tahoma, Trebuchet, sans-serif;
}

.flex_row{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 2rem;
}

.flex_colum {
    display: flex;
    flex-direction: column;
}

.home_item{
    text-align: center;
    justify-content: center;
    padding: 2rem 0 2rem 0; 
}

header{
    height: 450px;
    background-image: url(./img/pic01.jpg);
    background-repeat: no-repeat;
    background-color: #cce8f4;
    background-size: contain;
    background-position: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav{
    justify-content: center;
    text-align: center;
    padding: 0 0 4rem 0;
}

h1{
    padding: 3rem 0 1rem 0;
    font-weight: 900;
}

a, p{
    text-decoration: none;
    color: gray;
}

li{
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: 5%;
}
li:hover{
    background-color: rgb(170, 4, 4);
}

li:hover > a{
    color: white;
}

#titulo{
    background-color: black;
    width: 30%;
    border-radius: 2%;
    padding: 1rem 0rem 1rem 0rem;
}

#titulo > p{
    color: rgb(170, 4, 4) ;
}

h2{
   color: white;
   font-weight: 900;
   padding: 0rem 0rem 1rem 0rem;
}

.iconer_banner_item{
    width: 20%;
}
#configuracion{
    background-color: white;
    text-align: center;
    padding: 0 0 4rem 0;
}
.bandera{
    height: 120px;
    background-color: red;
    clip-path: polygon(100% 0, 100% 68%, 50% 100%, 0 68%, 0 0);
    width: 35%;
    border-radius: 5%;
}

.configuracion_item{
    align-items: center;
    gap: 1.2rem;
    line-height:1.5;
}
#iconer_banner{
    padding: 3rem 0rem 3rem 0rem;
}
.ico{
    padding: 1rem 0 0 0;
    width:70px;
    height:70px;
}

/* #configuracion  button{
    width: 15%;
    background-color: red;

    height: 3rem;
    color: white;
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 0.2rem;

} */
#configuracion  button{
    width: 15%;
    margin: 0 0 0 0;
}

#portafolio{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(247, 243, 243);

}

#portafolio h3{
    width: 100%;
}

#portafolio_gridd{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    text-align: center;
    width: 80%;
    gap: 2rem;

}

.portafolio_gridd_item h3, .portafolio_gridd_item p, .blog_item h3, .blog_item p{

    padding: 0 2rem 0 2rem;
    line-height:2;
}
.portafolio_gridd_item button, #blog_banner_buttom button, #configuracion  button{
    /* background-color: black; */
    color: white;
    height: 3rem;
    border-radius: 0.2rem;
    margin: 2rem 2rem 2rem 2rem;
    font-weight:700;
    font-size: large;
    border: none;
}
.portafolio_gridd_item button, #blog_banner_buttom button, #configuracion  button{
    background-color: black;
    width: 40%;
 }
 #configuracion  button{
    width: 15%;
    margin: 0 0 0 0;
}

.portafolio_gridd_item, .blog_item{
    background-color: white;
    text-align: left;
    border-bottom: rgb(182, 180, 180) 1px solid;
    /* gap:2rem; */
}

#blog, #informacion{
    width: 80%;
    gap: 2.5rem;

}

.blog_item{
    width: 46%;
    /* border: black 5px solid; */
}

/* #blog img{
    object-fit: cover;
    width: 100%;
    height: 50%;
} */

#blog_banner_buttom{
    gap: 0rem;
    justify-content: flex-start;
    /* padding: 2rem 0 2rem 0; */
}


/* FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.825);
}

footer h3, h4, footer span{
    color: white;
}


#informacion{
    gap: 6rem;
    /* justify-content: flex-start; */
    text-align: left;
    padding-left: 3rem;
}


#calendario{
    width: 65%;
    gap: 2rem;


}
.calendario_item{
    text-align: left;
    border-bottom: rgba(182, 180, 180, 0.074) 1px solid;
    gap: 3rem;
}
.calendar_number{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color:  rgba(234, 40, 85, 0.49) ;
    width: 10%;
    height: 4rem;
    padding: 0.5rem 0 0 1.5rem;

}



.num{
    font-size:x-large;
}



.calendar_description{
    width: 75%;
}
#about{

    text-align: left;
    gap: 3rem;
    width: 25%;
}

#about button{
    width: 45%;
    background-color:  rgba(234, 40, 85, 0.49) ;
    color: white;
    height: 3rem;
    border-radius: 0.2rem;
    /* margin: 2rem 2rem 2rem 2rem; */
    font-weight:700;
    font-size: large;
    border: none;
}

#about p{

    padding: 0 2rem 0 0rem;
    line-height:2;
}

#about a{
    color:white;
    text-decoration: underline;
}

#contactos{
    width: 80%;
    text-align: left;

}

#datos{
    text-align: left;
    align-items: flex-start;
    gap: 3rem;

}

.datos_item{
    gap: 4rem;
}




/*--------------------------------------------------------*/
