//VARIABLES
$color_rojo:#d52349;
$color_negro:#252122;
$color_gris:#827a7c;

//MIXINS

@mixin bandera ($color:#d52349) {
    height: 8.5rem;
    clip-path: polygon(100% 0, 100% 68%, 50% 100%, 0 68%, 0 0);
    width: 50%;
    border-radius: 5%;
    background-color: $color;
}

@mixin button ($color:#d52349, $width:35%, $margin: 2rem 2rem 2rem 2rem){
    color: white;
    height: 3rem;
    border-radius: 0.2rem;
    margin: $margin;
    font-weight:700;
    font-size: large;
    border: none;
    background-color: $color;
    width: $width;
}

@mixin item_portofolio_blog ($width: 30%) {
    @extend %flex_colum;
    background-color: white;
    text-align: left;
    border-bottom: rgb(182, 180, 180) 1px solid;
    width: $width;
}
@mixin texto_portofolio_blog ( $padding: 1.5rem 2rem 0 2rem) {
    padding:$padding;
    line-height:1.5;
    text-align: left;
}

@mixin elements_form ($height: 1.5rem, $width: 90%) {
    border-top: none;
    border-left: none;
    border-right: none;
    background: #f8f6f6;
    border-color: gray 2px solid;
    height: $height;
    width: $width;
}

@mixin icono ($background:gray){

    background-color: $background;
    color: white;
    width: 40px;
    height: 40px;
    padding: 0.3rem 0 0 0; 
    font-size: 2em;
    border-radius: 0.5rem;
    
}

//EXTEND/INHERITANCE

%flex_row{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    // gap: 2rem;
}

%flex_colum {
    display: flex;
    flex-direction: column;
}
%home_item{
    text-align: center;
    justify-content: center;
    padding: 2rem 0 2rem 0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    html,
    body {
        font-size: 16px;
        font-family: Arial, Verdana, Tahoma, Trebuchet, sans-serif;

        a{
            text-decoration: none;
            color: $color_gris;
        }

        nav{
            justify-content: center;
            text-align: center;            
            h1{
                font-weight: 900;
                padding-left: 2rem;
            }

            .checkbtn_menu{
                font-size: 30px;
                color: rgba(9,51,109,255);
                float: right;
                line-height: 80px;
                margin-right: 40px;
                cursor: pointer;
                display: none;
              }
              #check_menu{
                display: none;
              }
                        
            ul{
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: center;
                margin-bottom: 1rem;

                div{
                    display: none;
                }

                li{
                    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
                    border-radius: 5%;
                }

                li:hover{
                    background-color: $color_rojo;
                    border-radius: 5%;
                } 

                li:hover > a{
                    color: white;
                }

            
            }
        }

        header{
            height: 450px;
            background-image: url(./img/pic01.jpg);
            background-repeat: no-repeat;
            background-color: #cce8f4;
            background-size: contain;
            background-position: center;
            justify-content: center;
            text-align: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;


            div{
                background-color:$color_negro;
                width: 40%;
                border-radius: 2%;
                padding: 1.5rem 0rem 1.5rem 0rem;

                p{
                    color:$color_rojo;
                }
                h2{
                    color: white;
                    font-weight: 900;
                    padding: 0rem 0rem 1rem 0rem;
                 }
            }
        }

        #configuracion{
            @extend %flex_row;
            @extend %home_item;
            background-color: white;
            text-align: center;
            // padding: 0 0 4rem 0;

            #iconer_banner{
                @extend %flex_row;

                padding: 3rem 0rem 3rem 0rem;
                gap:2rem;
                width: 80%;

                .iconer_banner_item{
                    @extend %flex_colum;
                    width: 30%;
                    align-items: center;
                    gap: 1.2rem;
                    line-height:1.5;
                    padding: 0rem 0rem 0rem 0rem;

                    #bandera1{
                        @include bandera ($color:$color_rojo);
                    }
                    #bandera2{
                        @include bandera ($color:$color_negro);
                    }
                    #bandera3{
                        @include bandera ($color:$color_gris);
                    }

                    .icon{
                        padding: 1rem 0rem 0rem 0rem;
                        width: 7rem;
                        height: 5rem;
                    }
                }
            }
            #btns{
                @extend %flex_row;
                width: 100%;
                .bt1{@include button ($color:$color_rojo, $width:15%); }
                .bt2{@include button ($color:$color_negro, $width:15%); }
            }
        }

        #portafolio{
            @extend %home_item;
            @extend %flex_row;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: rgb(247, 243, 243);

            h3{
                width: 100%;
            }

            #portafolio_gridd{
                @extend %home_item;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                justify-content: center;
                text-align: center;
                width: 80%;
                gap: 2rem;

                .portafolio_gridd_item {
                    
                    @include item_portofolio_blog ( $width:100%);
                    h3,p{
                        @include texto_portofolio_blog ();
                    }

                    button{
                        @include button ($color:$color_negro, $width:38%);

                    }
                }
            
            }
        }

        #blog{
            @extend %flex_row;
            @extend %home_item;

            width: 80%;
            gap: 2.5rem;
            .blog_item{
                @include item_portofolio_blog ($width: 48%);
            }
            h3,p{
                @include texto_portofolio_blog ();
            }

            .p1{ padding-top: 0rem;}

            #blog_banner_buttom{
                @extend %flex_row;
                justify-content: left;
                .bt1{@include button ($color:$color_rojo, $width:35%, $margin: 2rem 0rem 2rem 2rem); }
                .bt2{@include button ($color:$color_negro, $width:35%, $margin: 2rem 0rem 2rem 2rem); }

            }
        }


        #formulario {
            @extend %flex_row;
            @extend %home_item;
            form {
                @extend %flex_colum;
                text-align: center;
                gap: 2rem;
                width: 50%;
                padding: 2rem 0rem 2rem 2rem;
                align-items: center;
                border-radius: 50px;
                background: #f8f6f6;
                box-shadow:  -20px 20px 60px #dfdede,
                        20px -20px 60px #ffffff;

                font-size: 17px;
                font-weight: 600;
                margin-bottom: 4rem;

                h3 {
                    width: 100%;
                }
                .formulario{
                    @extend %flex_colum;
                    justify-content: left;
                    text-align: left;
                    width: 90%;
                    gap: 1.5rem;

                    #personal_data {
                        @extend %flex_row;
                        justify-content: flex-start;

                        .personal_data_item{
                            width: 45%;
                            padding-top: 1rem;
                        }
                    }
                    
                    input[type=text], select, textarea{
                     @include elements_form();
                   }

                   .whoare {
                    @extend %flex_colum;
                    gap: 1rem;

                    .whoare_item{
                        @extend %flex_row;
                        gap: 1rem;
                        justify-content: left;
                    }

                   }
                   input[type=submit] {
                    @include button ($color:$color_negro, $width:35%, $margin: 0rem 0rem 0rem 0rem); 
                   }

                }
            }
        }

        footer {
            @extend %home_item;
            @extend %flex_colum;
            justify-content: center;
            align-items: center;
            background-color: rgba(36,33,34,255);

            span, h3, h4{
                color: white;  
            }
            p{
                color: $color_gris;
            }
            a{
                color:rgb(199, 197, 197);
                text-decoration: underline;
            }
            
            
            #informacion{
                @extend %flex_row;
                gap: 3rem;
                text-align: left;
                width: 80%;

                #calendario {
                    width: 70%;
                    gap: 1rem;
                    @extend %flex_colum;

                    h3 {
                        width: 100%;
                        padding-bottom: 2rem;
                    }

                    .calendario_item{
                        @extend %flex_row;
                        text-align: left;
                        border-bottom: rgba(182, 180, 180, 0.074) 1px solid;
                        padding-bottom: 0.5rem;
                        gap: 3rem;
                        justify-content: left;

                        p{
                            @include texto_portofolio_blog ($padding: 0 2rem 0 0rem);
                        }

                        .calendar_number{
                            @extend %flex_colum;
                            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                            background-color: #d52349;
                            width: 10%;
                            height: 4rem;
                            padding: 0.5rem 0 0 1rem;
                            .num{
                                font-size:x-large;
                            }
                        }
                        .calendar_description{
                            width: 80%;

                        }


                    }
                    
                }

                #about {
                    @extend %flex_colum;
                    text-align: left;
                    gap: 3rem;
                    width: 25%;

                    p{
                        @include texto_portofolio_blog ($padding: 0 2rem 0 0rem);
                        
                    }

                    button{
                        @include button($color:$color_rojo, $width:65%, $margin: 0rem 2rem 2rem 0rem );
                    }

                    #enlaces{
                        @extend %flex_row;
                        width: 65%;
                        justify-content: left;
                        text-align: left;
                        gap: 5rem;

                        .enlaces_item {
                            @extend %flex_colum;
                            width: 100%;
                         }
                    
                    }
                }
            } 
            #contactos{
                @extend %flex_row;
                width: 80%;
                text-align: left;
                justify-content: flex-start;
                padding-top: 1.5rem;
                gap: 6rem;

                #enlaces {
                    @extend %flex_row;
                    width: 65%;
                    justify-content: left;
                    text-align: left;
                    gap: 3rem;

                    li{
                        border-bottom: rgba(182, 180, 180, 0.074) 1px solid;
                        padding-bottom: 1rem;
                        padding-top: 1rem;
                       
                    
                    }

                    .enlaces_item {
                        @extend %flex_colum;
                        width: 44%; 
                        ul{
                            @extend %flex_colum;
                            // gap: 2rem;
                        }
                    }
                }

                #redes{ 
                    @extend %flex_colum;
                    width: 25% ;

                    ul{
                        @extend %flex_row;
                        gap:2rem;
                        justify-content: left;
                        padding-bottom: 1.8rem;
                        padding-top: 1rem;

                        li{
                            position: relative;
                            width: 5%;
                            text-align: center;
                            justify-content: center;
                            a{
                                color:white;
                            }

                            #fb, #link{
                                @include icono ();
                            }

                            #tw{
                                @include icono ($background: #2daae4);
                            }

                            #dribbb{
                                @include icono ($background: #c4376b);
                            }

                            #tumb{
                                @include icono ($background: #2b4661);
                            }
                        }
                        
                    }

                    #datos{
                        @extend %flex_colum;
                        text-align: left;
                        align-items: flex-start;
                        gap: 0.5rem;

                        
                        .datos_item{
                            @extend %flex_row;
                            border-bottom: rgba(182, 180, 180, 0.074) 1px solid;
                            padding-bottom: 1rem;
                            width: 100%;
                            justify-content: left;
                            gap: 1rem;

                            .datos_p{
                                width: 60%;
                            }

                        }
                    }
                }
               
            }
            .links {
                @extend %flex_row;
                background: rgba(255, 255, 255, 0.05);
                height: 4rem;
                padding: 1.5rem 1rem 1rem 1rem;
                margin: 2rem 0 0 0 ;
                border-radius: 0.2rem;
                li {
                    border-left: solid 1px rgba(255, 255, 255, 0.05);
                    padding: 0 0 0 1em;
                    color: $color_gris;
                }
                li:first-child {
                    border-left: 0;
                    padding-left: 0;
                }
            }


        }


    }
}

